<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      min-width: 1200px; /* Example minimum width for horizontal scrolling */
    }
    .navbar-fixed-top {
      width: 100%;
      z-index: 1030;
    }
    .content {
      margin-top: 60px; /* Adjust based on the height of your navbar */
    }
  </style>
  <title>Fixed Navbar Example</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home') }}">
        <img src="../static/record-logo.jpg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        <span style="white-space: nowrap;">Data Recording</span>
      </a>
    </div>
  </nav>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
